*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;

    overflow-x:hidden;

    font-family:sans-serif;

}

#cover{

    width:100%;
    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

#cover img{

    width:100%;
    max-width:900px;

    display:block;

}

button{

    margin:30px;

    padding:16px 40px;

    font-size:20px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}

#viewer{

    display:none;

    width:100%;

}

.page{

    display:block;

    width:100%;

    max-width:900px;

    margin:auto;

}

.page img{

    display:block;

    width:100%;

    height:auto;

}
